// ==================  style sheet for the hero component  =====================
.hero_section {
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 8.5rem 0 4rem;
}

.hero_information {
  display: flex;
  justify-content: space-between;
  column-gap: 2.5rem;
}

.hero_title {
  font-size: 2.85rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3.5rem;
  max-width: 35rem;
}

.hero_description {
  max-width: 25rem;
}

.hero_subtitle {
  color: var(--gray-200);
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.hero_buttons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2.25rem;
  row-gap: 1.25rem;
}

.btn_video {
  color: var(--gray-200);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  column-gap: .65rem;
  cursor: pointer;
  transition: 0.3s linear;

  &:hover {
    color: var(--white);
  }
}

.icon_play {
  color: var(--white);
  font-size: 1.25rem;
}

.hero_carousel {
  margin-top: 4rem;
}

.slide {
  width: 20%;
  height: 450px;
  overflow: hidden;
  border-radius: 0 0 20px 20px;

  &:nth-child(3) {
    width: 30%;
    padding-top: 3rem;

    .price_hotel {
      display: block;
    }
  }
}

.item_carousel {
  height: 100%; 
}

.name_hotel {
  text-transform: capitalize;
  color: var(--white);
  font-size: 1.05rem;
  font-weight: 500;
}

.price_hotel {
  color: var(--gray-200);
  font-size: 0.8rem;
  margin-top: 0.25rem;
  display: none;
}

.img_hotel {
  margin-top: 1.25rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}


// ==================  breakpoints  =====================
@media only screen and (max-width: 1050px) {
  .slide {
    &:nth-child(3) {
      padding-top: 0;

      .price_hotel {
        display: none;
      }
    }
  }

  .name_hotel {
    text-align: center;
  }
}

@media only screen and (max-width: 920px) {
  .hero_information {
    flex-direction: column;
    row-gap: 1.5rem;
  }
}

@media only screen and (max-width: 580px) {
  .hero_title {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .hero_carousel {
    padding: 0 1rem;
  }
}