// ==================  style sheet for the header component  =====================
.header_section {
  background-color: var(--dark-blue);
  padding: 1.75rem 0 1rem;
  position: sticky;
  top: 0; left: 0;
  transition: 0.3s linear;
  z-index: 10000;

  &.header_scrolling {
    padding: 0.85rem 0;
    border-bottom: 1.5px solid var(--gray-100);

    .header_logo {
      height: 3.25rem;
    }
  }
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  height: 3.65rem;
  transition: 0.3s linear;
}

.nav_list {
  display: flex;
  column-gap: 2.5rem;
}

.nav_link {
  font-size: 0.9rem;
  color: var(--gray-200);
  text-transform: capitalize;
  transition: 0.3s linear;

  &.active, &:hover {
    color: var(--white);
  }
}

.header_buttons {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.btn_menu {
  border: 1.5px solid var(--orange);
  border-bottom: 5px solid var(--orange);
  color: var(--white);
  font-size: 1.35rem;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  cursor: pointer;
  display: none;
}


// ==================  breakpoints  =====================
@media only screen and (max-width: 980px) {
  .btn_menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header_logo {
    height: 3.5rem;
  }

  .nav_menu  {
    position: fixed;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    margin-top: 6.5rem;
    width: 92%;
    height: 300px;
    transition: 0.3s linear;
    display: none;

    &.menu_active {
      display: block;
    }
  }

  .header_scrolling {
    .nav_menu {
      margin-top: 5.7rem;
    }
  }

  .nav_list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    width: 100%;
    height: 100%;
    background-color: var(--dark-blue);
    border: 1.5px solid var(--orange);
    border-radius: 10px 0 10px 10px;

    &::before {
      content: "";
      position: absolute;
      top: -0.5rem;
      right: 0.1rem;
      width: 20px;
      height: 20px;
      background-color: var(--orange);
      border-radius: 5px;
      transform: rotate(45deg);
      z-index: -1;
    }
  }
}