@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --dark-blue: #162031;
  --light-blue: #202c3f;
  --orange: #fe6922;
  --light-orange: #fbd0bc;
  --gray-100: #4a505c;
  --gray-200: #989898;
  --black: #212121;
  --white: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fafafa;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

ul {
  list-style: none;
}

button {
  background: none;
  border: 0;
  outline: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1150px;
  width: 92%;
  margin: 0 auto;
}